
.navBar{
    background-color: rgb(144, 195, 200);
    grid-row: 1/2;
    grid-column: gutter-start / gutter-end;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    


    &__item{
        margin-right: 1rem;
        font-size: 1.2rem;
        color:white;
    }
}